[submodule "dain-ncnn-vulkan-bin"]
path = dain-ncnn-vulkan-bin
url = ssh://aur@aur.archlinux.org/dain-ncnn-vulkan-bin.git
[submodule "dain-ncnn-vulkan"]
path = dain-ncnn-vulkan
url = ssh://aur@aur.archlinux.org/dain-ncnn-vulkan.git
[submodule "cain-ncnn-vulkan"]
path = cain-ncnn-vulkan
url = ssh://aur@aur.archlinux.org/cain-ncnn-vulkan.git
[submodule "cain-ncnn-vulkan-bin"]
path = cain-ncnn-vulkan-bin
url = ssh://aur@aur.archlinux.org/cain-ncnn-vulkan-bin.git
[submodule "waifu2x-ncnn-vulkan-bin"]
path = waifu2x-ncnn-vulkan-bin
url = ssh://aur@aur.archlinux.org/waifu2x-ncnn-vulkan-bin.git
[submodule "dain-ncnn-vulkan-git"]
path = dain-ncnn-vulkan-git
url = ssh://aur@aur.archlinux.org/dain-ncnn-vulkan-git.git
[submodule "cain-ncnn-vulkan-git"]
path = cain-ncnn-vulkan-git
url = ssh://aur@aur.archlinux.org/cain-ncnn-vulkan-git.git
[submodule "rife-ncnn-vulkan"]
path = rife-ncnn-vulkan
url = ssh://aur@aur.archlinux.org/rife-ncnn-vulkan.git
[submodule "rife-ncnn-vulkan-bin"]
path = rife-ncnn-vulkan-bin
url = ssh://aur@aur.archlinux.org/rife-ncnn-vulkan-bin.git
[submodule "rife-ncnn-vulkan-git"]
path = rife-ncnn-vulkan-git
url = ssh://aur@aur.archlinux.org/rife-ncnn-vulkan-git.git
[submodule "github-release-bin"]
path = github-release-bin
url = ssh://aur@aur.archlinux.org/github-release-bin.git
[submodule "github-release"]
path = github-release
url = ssh://aur@aur.archlinux.org/github-release.git
[submodule "golang-github-github-release-github-release"]
path = golang-github-github-release-github-release
url = ssh://aur@aur.archlinux.org/golang-github-github-release-github-release.git
[submodule "golang-github-dustin-go-humanize"]
path = golang-github-dustin-go-humanize
url = ssh://aur@aur.archlinux.org/golang-github-dustin-go-humanize.git
[submodule "golang-github-voxelbrain-goptions"]
path = golang-github-voxelbrain-goptions
url = ssh://aur@aur.archlinux.org/golang-github-voxelbrain-goptions.git
[submodule "google-java-format"]
path = google-java-format
url = ssh://aur@aur.archlinux.org/google-java-format.git
[submodule "marp-cli"]
path = marp-cli
url = ssh://aur@aur.archlinux.org/marp-cli.git
[submodule "marp-cli-bin"]
path = marp-cli-bin
url = ssh://aur@aur.archlinux.org/marp-cli-bin.git
[submodule "python-anyconfig"]
path = python-anyconfig
url = ssh://aur@aur.archlinux.org/python-anyconfig.git
[submodule "python-asks"]
path = python-asks
url = ssh://aur@aur.archlinux.org/python-asks.git
[submodule "python-auditok"]
path = python-auditok
url = ssh://aur@aur.archlinux.org/python-auditok.git
[submodule "python-contextily"]
path = python-contextily
url = ssh://aur@aur.archlinux.org/python-contextily.git
[submodule "python-eve-git"]
path = python-eve-git
url = ssh://aur@aur.archlinux.org/python-eve-git.git
[submodule "python-geomet"]
path = python-geomet
url = ssh://aur@aur.archlinux.org/python-geomet.git
[submodule "python-geoplot"]
path = python-geoplot
url = ssh://aur@aur.archlinux.org/python-geoplot.git
[submodule "python-google-cloud-speech"]
path = python-google-cloud-speech
url = ssh://aur@aur.archlinux.org/python-google-cloud-speech.git
[submodule "python-haversine"]
path = python-haversine
url = ssh://aur@aur.archlinux.org/python-haversine.git
[submodule "python-langcodes"]
path = python-langcodes
url = ssh://aur@aur.archlinux.org/python-langcodes.git
[submodule "python-libpysal"]
path = python-libpysal
url = ssh://aur@aur.archlinux.org/python-libpysal.git
[submodule "python-mapclassify"]
path = python-mapclassify
url = ssh://aur@aur.archlinux.org/python-mapclassify.git
[submodule "python-mercantile"]
path = python-mercantile
url = ssh://aur@aur.archlinux.org/python-mercantile.git
[submodule "python-mplleaflet"]
path = python-mplleaflet
url = ssh://aur@aur.archlinux.org/python-mplleaflet.git
[submodule "python-oct2py"]
path = python-oct2py
url = ssh://aur@aur.archlinux.org/python-oct2py.git
[submodule "python-overly"]
path = python-overly
url = ssh://aur@aur.archlinux.org/python-overly.git
[submodule "python-proto-plus"]
path = python-proto-plus
url = ssh://aur@aur.archlinux.org/python-proto-plus.git
[submodule "python-pyautogui"]
path = python-pyautogui
url = ssh://aur@aur.archlinux.org/python-pyautogui.git
[submodule "python-sansio-multipart"]
path = python-sansio-multipart
url = ssh://aur@aur.archlinux.org/python-sansio-multipart.git
[submodule "whatweb-git"]
path = whatweb-git
url = ssh://aur@aur.archlinux.org/whatweb-git.git
[submodule "whatweb"]
path = whatweb
url = ssh://aur@aur.archlinux.org/whatweb.git
[submodule "python-lda"]
path = python-lda
url = ssh://aur@aur.archlinux.org/python-lda.git
[submodule "python-viztracer"]
path = python-viztracer
url = ssh://aur@aur.archlinux.org/python-viztracer.git
[submodule "python-amazon.ion"]
path = python-amazon.ion
url = ssh://aur@aur.archlinux.org/python-amazon.ion.git
[submodule "python-anyconfig-bson-backend"]
path = python-anyconfig-bson-backend
url = ssh://aur@aur.archlinux.org/python-anyconfig-bson-backend.git
[submodule "python-anyconfig-ion-backend"]
path = python-anyconfig-ion-backend
url = ssh://aur@aur.archlinux.org/python-anyconfig-ion-backend.git
[submodule "python-anyconfig-cbor-backend"]
path = python-anyconfig-cbor-backend
url = ssh://aur@aur.archlinux.org/python-anyconfig-cbor-backend.git
[submodule "python-anyconfig-cbor2-backend"]
path = python-anyconfig-cbor2-backend
url = ssh://aur@aur.archlinux.org/python-anyconfig-cbor2-backend.git
[submodule "python-anyconfig-configobj-backend"]
path = python-anyconfig-configobj-backend
url = ssh://aur@aur.archlinux.org/python-anyconfig-configobj-backend.git
[submodule "python-anyconfig-msgpack-backend"]
path = python-anyconfig-msgpack-backend
url = ssh://aur@aur.archlinux.org/python-anyconfig-msgpack-backend.git
[submodule "python-anyconfig-fortios-backend"]
path = python-anyconfig-fortios-backend
url = ssh://aur@aur.archlinux.org/python-anyconfig-fortios-backend.git
[submodule "python-anyconfig-json5-backend"]
path = python-anyconfig-json5-backend
url = ssh://aur@aur.archlinux.org/python-anyconfig-json5-backend.git
[submodule "python-pyeit-git"]
path = python-pyeit-git
url = ssh://aur@aur.archlinux.org/python-pyeit-git.git
[submodule "python-termplotlib"]
path = python-termplotlib
url = ssh://aur@aur.archlinux.org/python-termplotlib.git
[submodule "python-meshplex"]
path = python-meshplex
url = ssh://aur@aur.archlinux.org/python-meshplex.git
[submodule "python-optimesh"]
path = python-optimesh
url = ssh://aur@aur.archlinux.org/python-optimesh.git
[submodule "python-dmsh"]
path = python-dmsh
url = ssh://aur@aur.archlinux.org/python-dmsh.git
[submodule "python-pyan3"]
path = python-pyan3
url = ssh://aur@aur.archlinux.org/python-pyan3.git
[submodule "srmd-ncnn-vulkan-git"]
path = srmd-ncnn-vulkan-git
url = ssh://aur@aur.archlinux.org/srmd-ncnn-vulkan-git.git
[submodule "srmd-ncnn-vulkan"]
path = srmd-ncnn-vulkan
url = ssh://aur@aur.archlinux.org/srmd-ncnn-vulkan.git
[submodule "srmd-ncnn-vulkan-bin"]
path = srmd-ncnn-vulkan-bin
url = ssh://aur@aur.archlinux.org/srmd-ncnn-vulkan-bin.git
[submodule "realsr-ncnn-vulkan-bin"]
path = realsr-ncnn-vulkan-bin
url = ssh://aur@aur.archlinux.org/realsr-ncnn-vulkan-bin.git
[submodule "realsr-ncnn-vulkan"]
path = realsr-ncnn-vulkan
url = ssh://aur@aur.archlinux.org/realsr-ncnn-vulkan.git
[submodule "jalview"]
path = jalview
url = ssh://aur@aur.archlinux.org/jalview.git
