pkgbase = nodejs-meta-grabber
	pkgdesc = Simple node.js link preview generator!
	pkgver = 1.0.0
	pkgrel = 1
	url = undefined
	arch = any
	license = MIT
	depends = nodejs
	depends = npm
	noextract = meta-grabber-1.0.0.tgz
	source = https://registry.npmjs.org/meta-grabber/-/meta-grabber-1.0.0.tgz
	sha1sums = 222a32b7f99cc605ba26d10997523365c15326d4

pkgname = nodejs-meta-grabber
